<h1>테이블 목록1</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>테이블이름</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tables" (click)="selectTable(t)">
      <td>{{ t.table_name }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedTable" >
    <table class="table table-bordered">
        <thead>
          <tr>칼럼 표준화 사전</tr>
          <tr>
            <th> meta_column_id</th>
            <th> table_name</th>
            <th> group_code_id</th>
            <th> detail_code_id</th>
            <th> group_code_name</th>
            <th> detail_code_name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let st of selectedTable" (click)="selectRule(st)">
            <td>{{ st.meta_column_id }}</td>
            <td>{{ st.table_name }}</td>
            <td>{{ st.group_code_id }}</td>
            <td>{{ st.detail_code_id }}</td>
            <td>{{ st.group_code_name }}</td>
            <td>{{ st.detail_code_name }}</td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="showRecord">
  <table class="table table-bordered">
      <thead>
        <tr>레코드 목록 조회</tr>
        <tr>
          <th>id</th>
          <th>칼럼 name</th>
          <th>칼럼 yesno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sr of showRecord">
          <td>{{ sr.id }}</td>
          <td>{{ sr.name }}</td>
          <td>{{sr.yesno}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div *ngIf="ruleResult">
  <table class="table table-bordered">
      <thead>
        <tr>규칙 필터링 오류 목록</tr>
        <tr>
          <th>id</th>
          <th>칼럼 name</th>
          <th>칼럼 yesno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rr of ruleResult">
          <td>{{ rr.id }}</td>
          <td>{{ rr.name }}</td>
          <td>{{ rr.yesno}}</td>
        </tr>
      </tbody>
    </table>
</div>
